*
!./lerna.json
!./package.json
!./tsconfig.json
!./yarn.lock
!./packages/akira/prisma
!./packages/akira/src
!./packages/akira/types
!./packages/akira/package.json
!./packages/akira/package-lock.json
!./packages/akira/tsconfig.json
