name: Node.js CI

on: 
  push:
    branches-ignore:
      - "v*.*.*"
  pull_request:
    branches:
      - 'main'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master

      - name: Build Docker image for web
        run: docker build -f Dockerfile.web -t pandaniell/akira .
      - name: Build Docker image for worker
        run: docker build -f Dockerfile.worker -t pandaniell/akira .
